{% extends "layouts/main.html" %}
{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class="govuk-width-container ">
    <a href="/../index.html" class="govuk-header__link govuk-header__service-name dwp-header__container--service-name">
      ARA Appointments
    </a>
  </div>
  {% include "includes/key-details.html" %}

  </header>
{% endblock %}
{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Select the HCP
      </h1>

       <!-- A/B testing, v.1 -->
       <!-- <p>
        These are the people available to do:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ data ['has-type'] or "PIP" }} </li>
        <li>{{ data['has-channel'] or "Telephone" }}</li>
      </ul>
      <div class="govuk-inset-text">
        You will need to pick a new date and time on the next screen.
      </div> -->

      <!-- A/B testing, v.2 -->
      <p>These are the people available to do your selected appointment type. </p>
      <p>You will need to pick a new date and time on the next screen.</p>

      <!-- <form class="form" action="has-check-answers" method="post"> -->
        <form class="form" method="post">

        
        <!-- <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds"> -->

     
        {{ govukRadios({
          idPrefix: "appt-owner",
          name: "apptowner",
          fieldset: {
            legend: {

              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            value: "Julie Smails",
            text: "Julie Smails"
          },
          {
            value: "Monica Anyanwu",
            text: "Monica Anyanwu"
          },
          {
            value: "Raka Banerjee",
            text: "Raka Banerjee"
          },
          {
            value: "Rianna Johnson",
            text: "Rianna Johnson"
          },
          {
            value: "Sarah Thornley",
            text: "Sarah Thornley"
          }
          ]
        }) }}

       

    
      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        <a class="govuk-link" href="#">Cancel</a>
      </div>

      </form>


    </div>
  </div>
{% endblock %}