{% extends "layouts/main.html" %}
{% block header %}

<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class="govuk-width-container ">
    <a href="../../index.html" class="govuk-header__link govuk-header__service-name dwp-header__container--service-name">
      ARA Appointments
    </a>
  </div>
</header>

{% endblock %}
{% block pageTitle %}
  Jane Doe – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Cancel appointments
      </h1>

      <!-- <p>You cannot undo this.</p> -->
      </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">


      <table data-module="moj-sortable-table" class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                
                <th scope="col" class="govuk-table__header">Claimant</th>
                <th scope="col" class="govuk-table__header">Type</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Date and time</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">HCP</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Channel</th>
                <!-- <th scope="col" class="govuk-table__header" aria-sort="none">Status</th> -->
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% if data['agent-appt'] != 'agent-cancelled' %}
            <tr class="govuk-table__row srel esa handsworth">
                
                <td class="govuk-table__cell"><a href="view-appointment" aria-describedby="claimant-detail-report">Jane Doe</a></td>
                <td class="govuk-table__cell">PIP</td>
                <td class="govuk-table__cell" data-sort-value="220708">Wednesday 7 August 2023, <Br>11:00am</td>
                <td class="govuk-table__cell" data-sort-value="1"> Amy Gill</td>
                <td class="govuk-table__cell" data-sort-value="1">Face to face</td>
              
            </tr>
            {% endif %}

            <tr class="govuk-table__row srel esa handsworth">
               
                <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Noelle Carmel</a></td>
                <td class="govuk-table__cell">PIP</td>
                <td class="govuk-table__cell" data-sort-value="220708">Thursday8 August 2023,<br> 9am</td>
                <td class="govuk-table__cell" data-sort-value="1">Amy Gill</td>
                <td class="govuk-table__cell" data-sort-value="1">Telephone</td>
               
            </tr>
            </tbody>
            </table>

      <form class="form" action="booked-app-list2" method="post">
      </div></div>

       
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">


        <div class="govuk-error-summary" data-module="govuk-error-summary" style="padding-bottom: 0;">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              Are you sure you want to cancel?
            </h2>
            <p>You cannot undo this.</p>
            <!-- <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#">Enter your full name</a>
                </li>
                <li>
                  <a href="#">The date your passport was issued must be in the past</a>
                </li>
              </ul>
            </div> -->

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Yes, cancel",
                classes: "govuk-button--warning"
              }) }}
              
              <a class="govuk-link" href="#">HAS Homepage</a>
            </div>
          </div>
        </div>

       
        <!-- {% from "govuk/components/button/macro.njk" import govukButton %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Cancel appointment",
            classes: "govuk-button--warning"
          }) }}
          
          <a class="govuk-link" href="#">Cancel</a>
        </div> -->

      </form>

    </div>
  </div>
{% endblock %}