//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

//card css

// DWP card
.dwp-card {
  margin-bottom: 40px;
  background: #fff;
  border: 1px solid #d8dde0;
  position: relative;
  width: 100%;
}

.dwp-card__content {
  padding: 24px;
  position: relative;
}

.dwp-card--clickable {
  border-bottom-width: 4px;
}

.dwp-card--clickable:hover {
  border-color: #aeb7bd;
}

.dwp-card--clickable:hover, .dwp-card--clickable:active {
  cursor: pointer;
}

@media (min-width: 40.0625em) {
  .dwp-card {
    margin-bottom: 48px;
}
  .dwp-card__content {
    padding: 32px;
}
}
.dwp-cal-table{
  font-family:arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:400;
  font-size:16px;
  font-size:1rem;
  line-height:1.25;
  color:#0b0c0c;
  width:100%;
  margin-bottom:20px;
  border-spacing:0;
  border-collapse:collapse
}
@media print{
  .govuk-table,.dwp-cal-table{
      font-family:sans-serif
  }
}
@media(min-width: 40.0625em){
  .govuk-table,.dwp-cal-table{
      font-size:19px;
      font-size:1.1875rem;
      line-height:1.3157894737
  }
}
@media print{
  .govuk-table,.dwp-cal-table{
      font-size:14pt;
      line-height:1.15
  }
}
@media print{
  .govuk-table,.dwp-cal-table{
      color:#000
  }
}
@media(min-width: 40.0625em){
  .govuk-table,.dwp-cal-table{
      margin-bottom:30px
  }
}
.govuk-table__header,.dwp-cal-table th{
  font-weight:700
}
.govuk-table__header,.dwp-cal-table th,.govuk-table__cell{
  padding:10px 20px 10px 0;
  border-bottom:1px solid #b1b4b6;
  text-align:left;
  vertical-align:top
}
.govuk-table__cell--numeric{
  font-family:arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-feature-settings:"tnum" 1;
  font-feature-settings:"tnum" 1;
  font-weight:400
}
@media print{
  .govuk-table__cell--numeric{
      font-family:sans-serif
  }
}
@supports(font-variant-numeric: tabular-nums){
  .govuk-table__cell--numeric{
      -webkit-font-feature-settings:normal;
      font-feature-settings:normal;
      font-variant-numeric:tabular-nums
  }
}
.govuk-table__header--numeric,.govuk-table__cell--numeric{
  text-align:right
}
.govuk-table__header:last-child,.dwp-cal-table th:last-child,.govuk-table__cell:last-child,.dwp-cal-table td:last-child{
  padding-right:0
}
.govuk-table__caption{
  font-weight:700;
  display:table-caption;
  text-align:left
}


.dwp-cal-table td time,.dwp-cal-table th div{
  min-height:2em;
  height:2em
}
.dwp-cal-table td div{
  background-color:rgba(243,242,241,.2666666667)
}
.dwp-cal-table td time{
  background:#f3f2f1;
  color:inherit;
  cursor:pointer
}
.dwp-cal-table time:hover{
  background:#fd0;
  color:inherit
}

input[type=radio]:checked+label time{
  background:#1d70b8;
  color:#fff;
  font-weight:bold
}

.dwp-cal-table input[type=radio] {
  display: none;
}

.dwp-cal-table input[type="radio" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}

.dwp-cal-table time, .dwp-cal-table th div {
  text-align: center;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.dwp-cal-table {
  border-spacing: 10px;
  border-collapse: separate;
}

.dwp-cal-table th {
  font-family: arial,sans-serif;
  color: #fff;
  background-color: #505a5f;
  padding-right: 0;
  text-align: center;
  position: sticky;
  top: 0;
  width: 14%;
}

.dwp-cal-table td div {
  background-color: rgba(243,242,241,.2666666667);
}

.dwp-cal-table td div, .dwp-cal-table td time, .dwp-cal-table th div {
  min-height: 2em;
  height: 2em;
}

.dwp-cal-table time {
  display: block;
}

.dwp-flex--space-between {
  justify-content: space-between;
}

.dwp-flex {
  display: flex;
}

// Key details bar
.key-details-bar {
  background-color: #1d70b8;
}

.key-details-bar .key-details-bar__key-details {
  margin: 0 auto;
  max-width: 1100px;
  padding: 20px 30px 20px 20px;
  position: relative;
  font-family: "Arial";
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details {
    padding: 20px 15px;
  }
}

.key-details-bar .key-details-bar__key-details * {
  color: #fff;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__top-block::after,
.key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block::after {
  clear: both;
  content: ' ';
  display: block;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  content: ' ';
  padding-top: 10px;
  margin-top: 6px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
    border: 0;
  }
}

.key-details-bar .key-details-bar__key-details dd,
.key-details-bar .key-details-bar__key-details dt {
  float: left;
  font-size: 19px;
  margin-right: 5px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details dd,
  .key-details-bar .key-details-bar__key-details dt {
    float: none;
    font-size: 16px;
    margin: 0;
  }
}

.key-details-bar .key-details-bar__key-details dd {
  margin-right: 20px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details dd {
    margin-bottom: 20px;
  }
  .key-details-bar .key-details-bar__key-details dd:last-of-type {
    margin-bottom: 0;
  }
}

.key-details-bar .key-details-bar__key-details .key-details-bar__name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  margin-right: 10px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details .key-details-bar__name {
    font-size: 24px;
    line-height: 1.04167;
    float: left;
    margin: 0 5px 0 0;
  }
}

.key-details-bar .key-details-bar__key-details .key-details-bar__nino {
  font-size: 24px;
  line-height: 1;
  margin-top: 12px;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details .key-details-bar__nino {
    font-size: 18px;
    float: left;
    margin: 5px 0 0 0;
  }
}

.key-details-bar .key-details-bar__key-details .key-details-bar__status {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  padding: 5px 8px 0;
  color: #1d70b8;
  background-color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  margin: 5px 0 0;
}

@media (max-width: 670px) {
  .key-details-bar .key-details-bar__key-details .key-details-bar__status {
    font-size: 14px;
    float: left;
    clear: both;
    margin-top: 5px;
  }
}

// Tab styling changes
.govuk-tabs__list-item-small {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-left: 25px;
}
@media print {
  .govuk-tabs__list-item-small {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .govuk-tabs__list-item-small {
    font-size: 14px;
    font-size: 0.9rem;
    line-height: 1.25;
  }
}
@media print {
  .govuk-tabs__list-item-small {
    font-size: 14pt;
    line-height: 1.15;
  }
}
@media print {
  .govuk-tabs__list-item-small:before {
    color: #000000;
  }
}
@media (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__list {
    margin-bottom: 0;
    border-bottom: 1px solid #b1b4b6;
  }
  .js-enabled .govuk-tabs__list:after {
    content: "";
    display: block;
    clear: both;
  }
  .js-enabled .govuk-tabs__title {
    display: none;
  }
  .js-enabled .govuk-tabs__list-item-small {
    position: relative;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 10px 10px;
    float: left;
    background-color: #f3f2f1;
    text-align: center;
  }
  .js-enabled .govuk-tabs__list-item:before {
    content: none;
  }
  .js-enabled .govuk-tabs__list-item-small--selected {
    position: relative;
    margin-top: -5px;
    margin-bottom: -1px;
    padding: 10px 10px;
    border: 1px solid #b1b4b6;
    border-bottom: 0;
    background-color: #ffffff;
  }
  .js-enabled .govuk-tabs__list-item--selected {
      position: relative;
      margin-top: -5px;
      margin-bottom: -1px;
      padding: 10px 10px;
      border: 1px solid #b1b4b6;
      border-bottom: 0;
      background-color: #ffffff;
    }
  .js-enabled .govuk-tabs__list-item--selected .govuk-tabs__tab {
    text-decoration: none;
  }
  .js-enabled .govuk-tabs__tab {
    margin-bottom: 0;
  }
  .js-enabled .govuk-tabs__tab:link, .js-enabled .govuk-tabs__tab:visited {
    color: #0b0c0c;
  }
}