{% extends "layouts/main.html" %}
{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class="govuk-width-container ">
    <a href="../../index.html" class="govuk-header__link govuk-header__service-name dwp-header__container--service-name">
      ARA Appointments
  </a>
  </div>
  </header>
{% endblock %}
{% block pageTitle %}
Choose location - View booked appointments – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<style media="screen">
    .autocomplete__input {
      width: 50%;
    }
   
  .autocomplete__menu{
      width: 50%
  }
   
  </style>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="booked-app-list1" method="post" novalidate>
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="country">
            Choose a location
          </label>
        </h1>
        <div id="account-number-hint" class="govuk-hint">
          Start typing a location to view and manage appointments
        </div>
        <div class="govuk-form-group">
                
            <select class="govuk-select" id="office-location" name="office-location" data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
              <option value="" selected disabled>Select an option</option>
              <option value="Ebury House, Aberdeen">Ebury House, Aberdeen</option>
              <option value="Wyvern House, Bedford">Wyvern House, Bedford</option>
              <option value="Summer Hill, Birmingham">Summer Hill, Birmingham</option>
              <option value="Temple Street, Bristol">Temple Street, Bristol</option>
              <option value="Northgate House,Canterbury">Northgate House,Canterbury</option>
              <option value="Leeds Park Place, Leeds">Leeds Park Place, Leeds</option>
              <option value="Lyndean House, Leith (Edinburgh)">Lyndean House, Leith (Edinburgh)</option>
              <option value="Duke Street, Liverpool">Duke Street, Liverpool</option>
              <option value="City Tower, London">City Tower, London</option>
              <option value="Tooting, London">Tooting, London</option>
              <option value="Windsor Road, Neath">Windsor Road, Neath</option>
              <option value="Cathedral Square, Newcastle upon Tyne">Cathedral Square, Newcastle upon Tyne</option>
              <option value="Kiln House, Norwich">Kiln House, Norwich</option>
              <option value="Gateway House, Preston">Gateway House, Preston</option>
              <option value="St. Cross House, Southampton">St. Cross House, Southampton</option>
            </select>
          </div>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        
          <a class="govuk-link" href="#">Cancel</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
