{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service. Help us to improve it by giving your <a class="govuk-link" href="#">feedback (opens in a new tab)</a>.
        </span>
      </p>
    </div>
  </div>
</div>


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <form class="form" action="amy-gill-profile-location-updated" method="post">

      <h1 class="govuk-heading-l">Where can Amy Gill conduct appointments?</h1>


     
          <div id="location-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="hcp-location-1" name="hcp-location" type="checkbox" value="Birmingham, Handsworth" >
              <label class="govuk-label govuk-checkboxes__label" for="hcp-location-1">
                Handsworth, Birmingham
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="hcp-location-2" name="hcp-location" type="checkbox" value="London, Tresco House">
              <label class="govuk-label govuk-checkboxes__label" for="hcp-location-2">
                Tresco House, London
              </label>
            </div>

            <div class="govuk-checkboxes__divider">or</div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="hcp-location-3" name="hcp-location" type="checkbox" value="Currently unavailable for appointments"  data-behaviour="exclusive">
              <label class="govuk-label govuk-checkboxes__label" for="hcp-location-3">
                Currently unavailable for appointments
              </label>
            </div>




          
          </div>
        </fieldset>


        
   
<br>


      <div class="govuk-button-group">
        <button class="govuk-button govuk-button" data-module="govuk-button">
         Save and continue
        </button>

  


        <a class="govuk-link" href="javascript:history.back()">Cancel</a>
      </div>

      <br>
      <br>

  </div>

</div>

</main>
</div>




{% endblock %}

