{% extends "layouts/main.html" %} 
{% block pageTitle %} 
  Home – {{serviceName}} – GOV.UK Prototype Kit 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service. Help us to improve it by giving your <a class="govuk-link" href="#">feedback (opens in a new tab)</a>.
        </span>
      </p>
    </div>
  </div>
</div>



<div class="govuk-grid-row" style="margin-top: -70px;">
  <div class="govuk-grid-column-full">
    <div class="govuk-width-container ">
      <main class="govuk-main-wrapper " id="main-content" role="main">

        <a href="agent-profiles" class="govuk-back-link">Back</a>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">

            <h1 class="govuk-heading-l">
              Amy Gill
            </h1>

            <h2 class="govuk-heading-m">Personal details</h2>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  Amy Gill
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact details
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">07700 900457</p>
                  <p class="govuk-body">amygill@domain.gov.uk</p>
                  
                </dd>
              </div>

              <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="border-bottom:0px;">
                  Available for
                </dt>
                <dd class="govuk-summary-list__value" style="border-bottom:0px;">
                  <ul class="govuk-list govuk-list--bullet">
                      <li style="white-space:nowrap;">PIP face to face (PIP F2F) </li>
                    <li style="white-space:nowrap;"> PIP telephone assessment (PIP TA)</li>
                    <li style="white-space:nowrap;"> WCA complex neuro (WCA CN)</li>
                    <li style="white-space:nowrap;"> WCA face to face (WCA F2F)</li>
                    <li style="white-space:nowrap;"> WCA telephone assessment (WCA TA)</li>
                  </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="agent-skills">Change </a>
                </dd>
              </div> -->
            </dl>

            <h2 class="govuk-heading-m">Available for</h2>

            <p>Review and edit the appointment types, skills and attributes. </p>

            <dl class="govuk-summary-list">
              <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="border-bottom:0px;">
                  Assigned office
                </dt>
                <dd class="govuk-summary-list__value" style="border-bottom:0px;">
                  Birmingham, Handsworth
                </dd>
              </div> -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="border-bottom:0px;">
                 Appointment types
                </dt>
                <dd class="govuk-summary-list__value" style="border-bottom:0px;">
                  <ul class="govuk-list govuk-list--bullet">
                      <li style="white-space:nowrap;">PIP face to face (PIP F2F) </li>
                    <li style="white-space:nowrap;"> PIP telephone assessment (PIP TA)</li>
                    <li style="white-space:nowrap;"> WCA complex neuro (WCA CN)</li>
                    <li style="white-space:nowrap;"> WCA face to face (WCA F2F)</li>
                    <li style="white-space:nowrap;"> WCA telephone assessment (WCA TA)</li>
                  </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="agent-skills">Change </a>
                </dd>
              </div>
            </dl>

            <h2 class="govuk-heading-m">Location</h2>

            <p>Review and edit work locations</p>

            <dl class="govuk-summary-list">
              <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="border-bottom:0px;">
                  Assigned office
                </dt>
                <dd class="govuk-summary-list__value" style="border-bottom:0px;">
                  Birmingham, Handsworth
                </dd>
              </div> -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="border-bottom:0px;">
                  Work location
                </dt>
                <dd class="govuk-summary-list__value" style="border-bottom:0px;">
                  Birmingham, Handsworth
                </dd>

                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="agent-hub-location">Change </a>
                </dd>
              </div>
            </dl>
 
            <div class="govuk-form-group">
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
            </div>

            <p class="govuk-body">
              <a href="agent-profiles" class="govuk-link">Back to HCP profiles</a>
            </p>

          </div>

        </div>

    </div>

  </div>

</div>
</main>

{% endblock %}