{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <form class="form" action="amy-gill-profile-location-updated" method="post">

      <h1 class="govuk-heading-l">Where can Amy Gill conduct appointments?</h1>

          <div id="location-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-1" name="afn-location-1" type="checkbox" value="Ebury House, Aberdeen" checked>
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-1">
                Ebury House, Aberdeen
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-2" name="afn-location-2" type="checkbox" value="Wyvern House, Bedford">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-2">
               Wyvern House, Bedford
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-3" name="afn-location-3" type="checkbox" value="Summer Hill, Birmingham">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-3">
                Summer Hill, Birmingham
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-5" name="afn-location-5" type="checkbox" value="Temple Street, Bristol">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-5">
                Temple Street, Bristol
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-6" name="afn-location-6" type="checkbox" value="Northgate House, Canterbury">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-6">
                Northgate House, Canterbury
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-7" name="afn-location-7" type="checkbox" value="Leeds Park Place, Leeds">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-7">
                Leeds Park Place, Leeds
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-8" name="afn-location-8" type="checkbox" value="Lyndean House, Leith (Edinburgh)">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-8">
                Lyndean House, Leith (Edinburgh)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-9" name="afn-location-9" type="checkbox" value="Duke Street, Liverpool">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-9">
                Duke Street, Liverpool
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-10" name="afn-location-10" type="checkbox" value="City Tower, London">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-10">
                City Tower, London
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-11" name="afn-location-11" type="checkbox" value="Tooting, London">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-11">
                Tooting, London
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-12" name="afn-location-12" type="checkbox" value="Windsor Road, Neath">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-12">
                Windsor Road, Neath
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-13" name="afn-location-13" type="checkbox" value="Cathedral Square, Newcastle upon Tyne">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-13">
                Cathedral Square, Newcastle upon Tyne
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-14" name="afn-location-14" type="checkbox" value="Kiln House, Norwich">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-14">
                Kiln House, Norwich
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-15" name="afn-location-15" type="checkbox" value="Gateway House, Prestone">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-15">
                Gateway House, Preston
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-16" name="afn-location-16" type="checkbox" value="St. Cross House, Southamptone">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-16">
                St. Cross House, Southampton
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="afn-location-17" name="afn-location-17" type="checkbox" value="New Dolanog House, Welshpool">
              <label class="govuk-label govuk-checkboxes__label" for="afn-location-17">
                New Dolanog House, Welshpool
              </label>
            </div>
          
          </div>
        </fieldset>
   
<br>


      <div class="govuk-button-group">
        <button class="govuk-button govuk-button" data-module="govuk-button">
         Save and continue
        </button>

        <a class="govuk-link" href="javascript:history.back()">Cancel</a>
      </div>

      <br>
      <br>

  </div>

</div>

</main>
</div>




{% endblock %}

