{% extends "layouts/main.html" %}
{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class="govuk-width-container ">
    <a href="/../index.html" class="govuk-header__link govuk-header__service-name dwp-header__container--service-name">
      ARA Appointments
    </a>
  </div>
  {% include "includes/key-details.html" %}

</header>
{% endblock %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h1 class="govuk-heading-l">
        Select a status
      </h1> -->

      <form class="form" action="appt-booked" method="post">

        <!-- <p>
          [Insert question content here - see the
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
          for examples]
        </p> -->

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Select a status
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Assigned
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Awaiting questionnaire
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                  Questionnaire reminder sent
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                  Questionnaire not returned 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-5" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-5">
                  HCP review
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
                  Request medical evidence
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-7" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-7">
                  Awaiting medical evidence 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-8" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-8">
                  Medical evidence not received
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-9" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-9">
                  Medical evidence received
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-10" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-10">
                  Book assessment
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-11" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-11">
                  Assessment booked 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-12" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-12">
                  PIP paper based review 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-13" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-13">
                  WCA paper based review
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-14" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-14">
                  Failed to attend
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-15" name="whereDoYouLive" type="radio" value="status">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-15">
                  Report ready 
                </label>
              </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-16" name="whereDoYouLive" type="radio" value="status">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-16">
                HCP audit 
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-17" name="whereDoYouLive" type="radio" value="status">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-17">
                PIPCS descriptors updated 
              </label>
            </div>
          </fieldset>
        </div>



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
