{% extends "layouts/main.html" %}
{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class="govuk-width-container ">
    <a href="/../index.html" class="govuk-header__link govuk-header__service-name dwp-header__container--service-name">
      ARA Appointments
    </a>
  </div>
  {% include "includes/key-details.html" %}

  </header>
{% endblock %}
{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Select the IDV officer
      </h1>

      <p>These are the people available for appointments on Monday 22 April 2024 at 10:40am.</p>
      <!-- <form class="form" action="has-check-answers" method="post"> -->
        <form class="form" method="post">

        
        <!-- <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds"> -->

     
        {{ govukRadios({
          idPrefix: "appt-owner",
          name: "apptowner",
          fieldset: {
            legend: {

              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Amy Gill",
              text: "Amy Gill",
              checked: true
            },
            {
              value: "Danny Travasso",
              text: "Danny Travasso"
            },
            {
              divider: "or"
            },
            {
              value: "other",
              text: "Select someone else",
              hint: {
                text: "You will also need to select a different date and time."
              }
            }
          ]
        }) }}

    
      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        <a class="govuk-link" href="#">Cancel</a>
      </div>

      </form>


    </div>
  </div>
{% endblock %}


<!-- ,
            {
              value: "Julie Smails",
              text: "Julie Smails"
            },
            {
              value: "Monica Anyanwu",
              text: "Monica Anyanwu"
            },
            {
              value: "Raka Banerjee",
              text: "Raka Banerjee"
            } -->
