{% extends "layouts/main.html" %}

{% block pageTitle %}
Sorry, there is a problem with the service – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
        <div class="govuk-width-container">
            <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
                  <p class="govuk-body">
                    Try again later.
                  </p>
                  <p class="govuk-body">
                    If you wrote or selected something on the previous page, it might not be saved.
                  </p>
                  <p class="govuk-body">
                    Go back to the <a href="../january-sprint/appointment-details.html" class="govuk-link">last page you viewed</a> .
                  </p>
              
                  <p class="govuk-body">
                    If the problem persists, go to <a href="https://dwp.service-now.com/itsupport" class="govuk-link" rel="noreferrer noopener" target="_blank"> DWP Place (opens in new tab)</a> and select the option to report an incident.
                  </p>
                 
                </div>
              </div>
            </main>
          </div>

{% endblock %}