{% extends "layouts/main.html" %}
{% block header %}

<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class="govuk-width-container ">
    <a href="../../index.html" class="govuk-header__link govuk-header__service-name dwp-header__container--service-name">
      ARA Appointments
    </a>
  </div>
</header>

{% endblock %}
{% block pageTitle %}
  Jane Doe – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Are you sure you want to cancel Jane Doe's appointment?
      </h1>

        {% from "govuk/components/button/macro.njk" import govukButton %}

        <div class="govuk-button-group" style="float: left;">
          {{ govukButton({
            text: "Yes, cancel appointment",
            classes: "govuk-button--warning",
            href: "booked-app-list2"
          }) }}
          
          <a class="govuk-link" href="#">HAS Homepage</a>
        </div>

      </form>
      
    </div>
  </div>

   


      


      </form>

    </div>
  </div>
{% endblock %}