{% extends "layouts/main.html" %} 
{% block pageTitle %} 
  Home – {{serviceName}} – GOV.UK Prototype Kit 
{% endblock %} 
{% block content %} 

<style>
  .govuk-heading-s {
    margin: 10px 0 10px 0;
  }
</style>

  <div class="govuk-grid-row" style="margin-top: -40px;">
    <div class="govuk-grid-column-full">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            Alpha
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service. Help us to improve it by giving your <a class="govuk-link" href="#">feedback (opens in a new tab)</a>.
          </span>
        </p>
      </div>
    </div>
  </div>

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">
    <a href="../day/mon-am" class="govuk-back-link">Back</a>

<!-- Error summary -->
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">

          <h3 class="govuk-heading-s">Amy Gill</h3>
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#amy-time-start">Enter a time block</a>
            </li>
            <li>
              <a href="#loc-1-1">Select where they can do appointments</a>
            </li>
            <li>
              <a href="#hcp-1-1">Select what they are available for</a>
            </li>
          </ul>

          <h3 class="govuk-heading-s">Benjamin Marshall</h3>
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#benjamin-time-start">Enter a start time</a>
            </li>
          </ul>

          <h3 class="govuk-heading-s">Bernhard Fischer</h3>
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#benjamin-time-start">Enter an end time</a>
            </li>
            <li>
              <a href="#benjamin-time-start">Enter an end time</a>
            </li>
          </ul>

          <h3 class="govuk-heading-s">Danny Zuko</h3>
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#benjamin-time-start">Enter a time block</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
<!-- End error summary -->


    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
      <form action="../availability-added" method="post" class="form">
        <span class="govuk-caption-l">Monday 11 March 2024</span>
        <h1 class="govuk-heading-l"> When is each HCP free to do appointments?</h1>
        <div class="govuk-hint"> 
          Add as many blocks of time as you need. 
        </div>

        <br>
        
        <table class="govuk-table"> 
          <h2 class="govuk-heading-m">Amy Gill</h2>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <th scope="col" class="govuk-table__header" style="width: 50%;">Times available</th>
                <th scope="col" class="govuk-table__header" style="width: 33%;">Current work location</th>
                <th scope="col" class="govuk-table__header" style="width: 17%;">Available for</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body"> 
            <tr class="govuk-table__row handsworth">
              <td class="govuk-table__cell">

                <div class="govuk-form-group govuk-form-group--error">
                
                <div id="waste-hint" class="govuk-hint">
                  For example, 9am or 2:30pm - enter 12pm for midday
                </div>

                <p id="passport-issued-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Enter a time block
                </p>

                <div class="time-wrapper" style="margin-right: 20px; float: left;">
                  <div class="time-start">
                    <label class="govuk-label"> Start time </label>
                    <input class="govuk-input govuk-input--width-5 govuk-input--error" id="amy-time-start" name="amy-time-start" type="text" aria-describedby="time-hint" autocomplete="off"  >
                  </div>
                </div>

                <div class="time-wrapper">
                  <div class="time-end2">
                    <label class="govuk-label"> End time </label>
                    <input class="govuk-input govuk-input--width-5 govuk-input--error" id="amy-time-end" name="amy-time-end" type="text" aria-describedby="time-hint" autocomplete="off"  >
                  </div>
                </div>

              </div>

                <div class="time-wrapper"  style="margin-bottom: 20px;">
                  <div class="time-end2">
                    <label class="govuk-label"></label>
                    <a href="" >Add another time block</a>
                  </div>
                </div>

              </td>

              <td class="govuk-table__cell">
                <div class="time-wrapper">
                  <div class="time-end2">
                    <div class="govuk-form-group govuk-form-group--error">
                      <!-- <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            Filter
                          </h1>
                        </legend> -->
                        <p id="whereDoYouLive-error" class="govuk-error-message">
                          <span class="govuk-visually-hidden">Error:</span> Select where they can do appointments
                        </p>
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="loc-1-1" name="loc-1" type="radio" value="month">
                            <label class="govuk-label govuk-radios__label" for="loc-1-1">
                              Birmingham, Handsworth
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="loc-1-2" name="loc-1" type="radio" value="year">
                            <label class="govuk-label govuk-radios__label" for="loc-1-2">
                              Working from home
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </td>

              <td class="govuk-table__cell">
                <div class="time-wrapper">
                  <div class="time-end2">
                    <div class="govuk-form-group govuk-form-group--error">
                      <fieldset class="govuk-fieldset">
                        <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            Organisation
                          </h1>
                        </legend> -->
                        <p id="nationality-error" class="govuk-error-message">
                          <span class="govuk-visually-hidden">Error:</span> Select what they are available for
                        </p>
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-1-1" name="hcp-1" type="checkbox" value="hmrc">
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-1-1">
                              PIP F2F
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-1-2" name="hcp-1" type="checkbox" value="employment-tribunal">
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-1-2">
                              PIP TA
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-1-3" name="hcp-1" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-1-3">
                              WCA CN
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-1-4" name="hcp-1" type="checkbox" value="DfT">
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-1-4">
                              WCA F2F
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-1-5" name="hcp-1" type="checkbox" value="DfT">
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-1-5">
                              WCA TA
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </td>
            </tbody>
          </table>

        <table class="govuk-table" > 
          <h2 class="govuk-heading-m">Benjamin Marshall</h2>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <th scope="col" class="govuk-table__header" style="width: 50%;">Times available</th>
                <th scope="col" class="govuk-table__header" style="width: 33%;">Work location</th>
                <th scope="col" class="govuk-table__header" style="width: 17%;">Available for</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body"> 
            <tr class="govuk-table__row handsworth">
              <!-- <td class="govuk-table__cell">Amy Gill</td> -->
              <td class="govuk-table__cell">

                <div class="govuk-form-group govuk-form-group--error">

                  <div id="waste-hint" class="govuk-hint">
                    For example, 9am or 2:30pm - enter 12pm for midday
                  </div>

                  <p id="passport-issued-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Enter a start time
                  </p>

                  <div class="time-wrapper" style="margin-right: 20px; float: left;">
                    <div class="time-start">
                      <label class="govuk-label"> Start time </label>
                      <input class="govuk-input govuk-input--width-5 govuk-input--error" id="benjamin-time-start" name="benjamin-time-start" type="text" aria-describedby="time-hint" autocomplete="off"  >
                    </div>
                  </div>

                  <div class="time-wrapper">
                    <div class="time-end2">
                      <label class="govuk-label"> End time </label>
                      <input class="govuk-input govuk-input--width-5" id="benjamin-time-end" name="benjamin-time-end" type="text" aria-describedby="time-hint" autocomplete="off"  value="11:30am">
                    </div>
                  </div>

                </div>

                <div class="time-wrapper" style="margin-bottom: 20px;">
                  <div class="time-end2" >
                    <label class="govuk-label"></label>
                    <a href="" >Add another time block</a>
                    <!-- <input class="govuk-input govuk-input--width-5" id="width-5" name="amy-time-end" type="text" aria-describedby="time-hint" autocomplete="off"  > -->
                  </div>
                </div>
              </td>

              <td class="govuk-table__cell">
                <div class="time-wrapper">
                  <div class="time-end2">
                    <div class="govuk-form-group">
                      <!-- <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            Filter
                          </h1>
                        </legend> -->
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="loc-2-1" name="loc-2" type="radio" value="month" checked>
                            <label class="govuk-label govuk-radios__label" for="loc-2-1">
                              Birmingham, Handsworth
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="loc-2-2" name="loc-2" type="radio" value="year">
                            <label class="govuk-label govuk-radios__label" for="loc-2-2">
                              Working from home
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </td>

              <td class="govuk-table__cell">
                <div class="time-wrapper">
                  <div class="time-end2">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            Organisation
                          </h1>
                        </legend> -->
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <!-- <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                              PIP F2F
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                              PIP TA
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                              WCA CN
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                              WCA F2F
                            </label>
                          </div> -->
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-2-5" name="hcp-2" type="checkbox" value="DfT" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-2-5">
                              WCA TA
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </td>
            </tbody>
          </table>

        <table class="govuk-table" >  
          <h2 class="govuk-heading-m">Bernhard Fischer</h2>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <th scope="col" class="govuk-table__header" style="width: 50%;">Times available</th>
                <th scope="col" class="govuk-table__header" style="width: 33%;">Work location</th>
                <th scope="col" class="govuk-table__header" style="width: 17%;">Available for</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body"> 
            <tr class="govuk-table__row handsworth">
              <!-- <td class="govuk-table__cell">Amy Gill</td> -->
              <td class="govuk-table__cell">

                <div class="govuk-form-group govuk-form-group--error">

                <div id="waste-hint" class="govuk-hint">
                  For example, 9am or 2:30pm - enter 12pm for midday
                </div>

                <p id="passport-issued-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> The end time must be after start time
                </p>

                <div class="time-wrapper" style="margin-right: 20px; float: left;">
                  <div class="time-start">
                    <label class="govuk-label"> Start time </label>
                    <input class="govuk-input govuk-input--width-5" id="width-5" name="amy-time-start" type="text" aria-describedby="time-hint" autocomplete="off" value="2pm" >
                  </div>
                </div>

                <div class="time-wrapper">
                  <div class="time-end2">
                    <label class="govuk-label"> End time </label>
                    <input class="govuk-input govuk-input--width-5 govuk-input--error" id="width-5" name="amy-time-end" type="text" aria-describedby="time-hint" autocomplete="off" value="1:30pm" >
                  </div>
                </div>
                
              </div>

                <div class="time-wrapper"  style="margin-bottom: 20px;">
                  <div class="time-end2">
                    <label class="govuk-label"></label>
                    <a href="" >Add another time block</a>
                    <!-- <input class="govuk-input govuk-input--width-5" id="width-5" name="amy-time-end" type="text" aria-describedby="time-hint" autocomplete="off"  > -->
                  </div>
                </div>
              </td>

              <td class="govuk-table__cell">
                <div class="time-wrapper">
                  <div class="time-end2">
                    <div class="govuk-form-group">
                      <!-- <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            Filter
                          </h1>
                        </legend> -->
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="loc-3-1" name="loc-3" type="radio" value="month" >
                            <label class="govuk-label govuk-radios__label" for="loc-3-1">
                              London, Tresco House
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="loc-3-2" name="loc-3" type="radio" value="year" checked>
                            <label class="govuk-label govuk-radios__label" for="loc-3-2">
                              Working from home
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </td>

              <td class="govuk-table__cell">
                <div class="time-wrapper">
                  <div class="time-end2">
                    <div class="govuk-form-group govuk-form-group--error">
                      <fieldset class="govuk-fieldset">
                        <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            Organisation
                          </h1>
                        </legend> -->
                        <p id="nationality-error" class="govuk-error-message">
                          <span class="govuk-visually-hidden">Error:</span> They cannot do face to face appointments if they are not working in an office 
                        </p>
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-3-1" name="hcp-3" type="checkbox" value="hmrc" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-3-1">
                              PIP F2F
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-3-2" name="hcp-3" type="checkbox" value="employment-tribunal" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-3-2">
                              PIP TA
                            </label>
                          </div>
                          <!-- <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                              WCA CN
                            </label>
                          </div> -->
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-3-4" name="hcp-3" type="checkbox" value="DfT">
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-3-4">
                              WCA F2F
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-3-5" name="hcp-3" type="checkbox" value="DfT">
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-3-5">
                              WCA TA
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </td>
            </tbody>
          </table>

        <table class="govuk-table"> 
          <h2 class="govuk-heading-m">Danny Zuko</h2>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <th scope="col" class="govuk-table__header" style="width: 50%;">Times available</th>
                <th scope="col" class="govuk-table__header" style="width: 33%;">Work location</th>
                <th scope="col" class="govuk-table__header" style="width: 17%;">Available for</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body"> 
            <tr class="govuk-table__row handsworth">
              <!-- <td class="govuk-table__cell">Amy Gill</td> -->
              <td class="govuk-table__cell">

                <div id="waste-hint" class="govuk-hint">
                  For example, 9am or 2:30pm - enter 12pm for midday
                </div>

                <div class="time-wrapper" style="margin-right: 20px; float: left;">
                  <div class="time-start">
                    <label class="govuk-label"> Start time </label>
                    <input class="govuk-input govuk-input--width-5" id="width-5" name="amy-time-start" type="text" aria-describedby="time-hint" autocomplete="off" value="9:00am" >
                  </div>
                </div>

                <div class="time-wrapper">
                  <div class="time-end2">
                    <label class="govuk-label"> End time </label>
                    <input class="govuk-input govuk-input--width-5" id="width-5" name="amy-time-end" type="text" aria-describedby="time-hint" autocomplete="off" value="11:00am" >
                  </div>
                </div>

                <!-- <div class="time-wrapper" style="margin-bottom: 20px;">
                  <div class="time-end2" style="padding-top: 30px">
                    <label class="govuk-label"></label>
                    <a href="" >Add another time block</a>
                  </div>
                </div> -->

            <div class="timeblock2 " style="padding-top: 30px;">

              <div class="govuk-form-group govuk-form-group--error">

                <p id="passport-issued-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Enter a time block
                </p>

                <div class="time-wrapper" style="margin-right: 20px; float: left;">
                  <div class="time-start">
                    <label class="govuk-label"> Start time </label>
                    <input class="govuk-input govuk-input--width-5" id="width-5" name="amy-time-start" type="text" aria-describedby="time-hint" autocomplete="off"  >
                  </div>
                </div>

                <div class="time-wrapper" style="margin-right: 20px; float: left;">
                  <div class="time-end2">
                    <label class="govuk-label"> End time </label>
                    <input class="govuk-input govuk-input--width-5" id="width-5" name="amy-time-end" type="text" aria-describedby="time-hint" autocomplete="off"  >
                  </div>
                </div>

                <div class="time-wrapper" style="margin-bottom: 20px;">
                  <div class="time-end2" style="padding-top: 30px">
                    <label class="govuk-label"></label>
                    <a href="" >Remove</a>
                  </div>
                </div>

              </div>

                <div class="time-wrapper" style="margin-bottom: 20px;">
                  <div class="time-end2">
                    <label class="govuk-label"></label>
                    <a href="" >Add another time block</a>
                    <!-- <input class="govuk-input govuk-input--width-5" id="width-5" name="amy-time-end" type="text" aria-describedby="time-hint" autocomplete="off"  > -->
                  </div>
                </div>

            </div>



          </td>

              <td class="govuk-table__cell">
                <div class="time-wrapper">
                  <div class="time-end2">
                    <div class="govuk-form-group">
                      <!-- <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            Filter
                          </h1>
                        </legend> -->
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="loc-4-1" name="loc-4" type="radio" value="month" checked>
                            <label class="govuk-label govuk-radios__label" for="loc-4-1">
                              London, Tresco house
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="loc-4-2" name="loc-4" type="radio" value="year">
                            <label class="govuk-label govuk-radios__label" for="loc-4-2">
                              Working from home
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </td>

              <td class="govuk-table__cell">
                <div class="time-wrapper">
                  <div class="time-end2">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            Organisation
                          </h1>
                        </legend> -->
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-4-1" name="hcp-4" type="checkbox" value="hmrc" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-4-1">
                              PIP F2F
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-4-2" name="hcp-4" type="checkbox" value="employment-tribunal" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-4-2">
                              PIP TA
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-4-3" name="hcp-4" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-4-3">
                              WCA CN
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-4-4" name="hcp-4" type="checkbox" value="DfT" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-4-4">
                              WCA F2F
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="hcp-4-5" name="hcp-4" type="checkbox" value="DfT">
                            <label class="govuk-label govuk-checkboxes__label" for="hcp-4-5">
                              WCA TA
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </td>
            </tbody>
          </table>





























        <div class="govuk-button-group">
          <button class="govuk-button govuk-button" data-module="govuk-button">
           Save and continue
          </button>
  
          <a class="govuk-link" href="../availability-view">Cancel</a>
        </div>

        <!-- <button class="govuk-button" data-module="govuk-button">Save and continue</button> -->

        <!-- <a class="govuk-link" href="javascript:history.back()">Cancel</a> -->

      </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    </main>
  </div> 
</div>

{% endblock %}