{% extends "layouts/main.html" %}
{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class="govuk-width-container ">
    <a href="/../index.html" class="govuk-header__link govuk-header__service-name dwp-header__container--service-name">
      ARA Appointments
  </a>
  </div>
  </header>
{% endblock %}
{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Appointment details
      </h1>
      <form class="form" action="has-cal" method="post">

        
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set appointmentHtml %}
        {{ govukInput({
        id: "type-of-appointment",
        name: "type-of-appointment",
        spellcheck: false,
        classes: "govuk-!-width-one-third",
        label: {
          text: "Type of appointment"
        }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "has-type",
          name: "has-type",
          fieldset: {
            legend: {
              text: "Appointment type",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "PIP",
              text: "PIP"
            },
            {
              value: "WCA",
              text: "WCA",
              conditional: {
               
              }
            }
          ]
        }) }}


        {{ govukRadios({
          idPrefix: "has-channel",
          name: "has-channel",
          fieldset: {
            legend: {
              text: "Appointment channel",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Telephone",
              text: "Telephone"
            },
            {
              value: "Face to face",
              text: "Face to face"
            }
          ]
        }) }}  


        {% from "govuk/components/button/macro.njk" import govukButton %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          <a class="govuk-link" href="#">Cancel</a>
        </div>

      </form>


    </div>
  </div>
{% endblock %}
