{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<style>
  .govuk-details {
    margin-bottom: 10px;
  }
</style>



<span class="govuk-caption-xl">Team Hawk</span>
  <h1 class="govuk-heading-l">DWP Appointments - Version 9</h1>

  <h2 class="govuk-heading-s">User journeys</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/v9/has/book-appt/has-appointment-details">Book an appointment - HAS (incl. manual allocation of HCP)</a></li>
    <li><a href="/v9/has/booked-location1"> View, cancel, amend booked appointments - HAS (manage appointments)</a></li>
    <li><a href="/v9/has/cancel/claimant-appts"> View, cancel, amend booked appointments - HAS (via claimant profile)</a></li>
  </ul>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <hr class="govuk-section-break govuk-section-break--visible"> -->

  <h2 class="govuk-heading-s">Individual screens</h2>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Book an appointment - HAS (incl. manual allocation of HCP)
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v9/has/book-appt/has-appointment-details"> Appointment details - type/channel</a></li>
        <li><a href="/v9/has/book-appt/has-cal"> Choose a date and time</a></li>
        <li><a href="/v9/has/book-appt/has-check-answers"> Check appointment details</a></li>
        <li><a href="/v9/has/book-appt/appt-owners"> Select an available HCP</a></li>
        <li><a href="/v9/has/book-appt/appt-owners-all"> Select an HCP - full list</a></li>
        <li><a href="/v9/has/book-appt/has-confirmation"> Appointment booked</a></li>
        <li><a href="/v9/has/book-appt/select-status"> Select a status (HAS screen, NOT HAWK)</a></li>
        <li><a href="/v9/has/book-appt/appt-booked"> Status updated (HAS screen, NOT HAWK)</a></li>
      </ul>
    </div>
  </details>

  
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View, cancel, amend booked appointments - HAS (via manage appointments)
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v9/has/booked-location1"> Choose a location</a></li>
        <li><a href="/v9/has/booked-app-list1"> Booked appointments list</a></li>
        <li><a href="/v9/has/filter-options"> Filter appointments</a></li>
        <li><a href="/v9/has/view-appointment"> Appointment details</a></li>
        <li><a href="/v9/has/confirm-cancel"> Confirm appointment cancellation</a></li>
        <li><a href="/v9/has/booked-app-list2"> Booked appointments list - success banner</a></li>
        <li><a href="/v9/has/has-appointment-details"> Amend appointment - appointment details - type/channel</a></li>
        <li><a href="/v9/has/has-cal"> Amend appointment - Choose a date and time</a></li>
        <li><a href="/v9/has/has-check-answers"> Amend appointment - Check appointment details</a></li>
        <li><a href="/v9/has/appt-owners"> Amend appointment - Select an HCP</a></li>
        <li><a href="/v9/has/appt-owners-all"> Amend appointment - Select and HCP - full list</a></li>
        <li><a href="/v9/has/has-confirmation"> Amend appointment - Appointment amended</a></li>
      </ul>
    </div>
  </details>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View, cancel, amend booked appointments - HAS (via claimant profile)
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v9/has/cancel/claimant-appts"> Citizen's appointments list</a></li>
        <li><a href="/v9/has/cancel/view-appointment"> Appointment details</a></li>
        <li><a href="/v9/has/cancel/cancel-appt"> Confirm appointment cancellation</a></li>
        <li><a href="/v9/has/cancel/claimant-appts2"> Citizen's appointments list - success banner</a></li>
        <li><a href="/v9/has/cancel/has-appointment-details"> Amend appointment - appointment details - type/channel</a></li>
        <li><a href="/v9/has/cancel/has-cal"> Amend appointment - Choose a date and time</a></li>
        <li><a href="/v9/has/cancel/has-check-answers"> Amend appointment - Check appointment details</a></li>
        <li><a href="/v9/has/cancel/appt-owners"> Amend appointment - Select an HCP</a></li>
        <li><a href="/v9/has/cancel/appt-owners-all"> Amend appointment - Select and HCP - full list</a></li>
        <li><a href="/v9/has/cancel/has-confirmation"> Amend appointment - Appointment amended</a></li>
      </ul>
    </div>
  </details>


{% endblock %}