{% extends "layouts/main.html" %}
{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class="govuk-width-container ">
  <a href="../index.html" class="govuk-header__link govuk-header__service-name dwp-header__container--service-name">
     ARA Appointments
  </a>
  </div>
  </header>
{% endblock %}
{% block pageTitle %}
No appointments available – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Sorry, no appointments available
      </h1>
      <p class="govuk-body">
        There is no one available to do this appointment for the next [##] days. 
      </p>
      <p class="govuk-body">
        Try again later, when more appointment availability has been added. 
      </p>
      <p class="govuk-body">
        If the issue continues, contact your manager to report the problem. 
      </p>

    </div>
  </div>
{% endblock %}
