{% extends "layouts/main.html" %}
{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class="govuk-width-container ">
  <a href="../index.html" class="govuk-header__link govuk-header__service-name dwp-header__container--service-name">
     ARA Appointments
  </a>
  </div>
  </header>
{% endblock %}
{% block pageTitle %}
Page not found – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Page not found
      </h1>
      <p class="govuk-body">
        If you typed the web address, check it is correct.
      </p>
      <p class="govuk-body">
        If you pasted the web address, check you copied the entire address.
      </p>
      <p class="govuk-body">
        If the link is correct or you selected a link or button, go to <a href="https://dwp.service-now.com/itsupport" class="govuk-link" rel="noreferrer noopener" target="_blank"> DWP Place (opens in new tab)</a> to report an incident. 
      </p>
      <p class="govuk-body">
        You will need to follow these steps:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Select the ‘Report an incident’ option to open a new message</li>
        <li>Take a screenshot of this webpage and attach it to the message</li>
        <li>Include the incident code below.</li>
      </ul>
      <p class="govuk-body">
        If you are unable to log into DWP Place, call IT Support.
      </p>
      <p class="govuk-body">
        Telephone: 0800 464 3549
      </p>
      
      <p class="govuk-body">
        Incident code: 404
      </p>
    </div>
  </div>
{% endblock %}
