{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check appointment details
      </h1>
      <form action="confirmation-nino" method="post" novalidate>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Location"
            },
            value: {
              text: "Camden Town Jobcentre Plus"
            },
            actions: {
              items: [
                {
                 
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Appointment type"
            },
            value: {
              text: "Identity Verification (IDV) appointment"
            },
            actions: {
              items: [
                {
                  href: "appointment-details-nino.html",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Channel"
            },
            value: {
              text: "Face to face"
            },
            actions: {
              items: [
                {
                  href: "appointment-details-nino.html",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Date and time"
            },
            value: {
              text: "Monday 16 October 2023 at 10:40am"
            },
            actions: {
              items: [
                {
                  href: "calendar-nino.html",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

     

      

       
       
        {% from "govuk/components/button/macro.njk" import govukButton %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Book appointment"
          }) }}
        
          <a class="govuk-link" href="#">Cancel</a>
        </div>

       

      </form>

    </div>
  </div>
{% endblock %}
