{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .govuk-details {
    margin-bottom: 10px;
  }
 .govuk-button--secondary {
  margin-top: 25px;
 }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Team Hawk</span>
    <h1 class="govuk-heading-l">DWP Availability</h1>
  </div>
  <div class="govuk-grid-column-one-third">

    {{ govukButton({
      text: "Team Royal Blue prototype",
      classes: "govuk-button--secondary",
      href: "https://prototype-has-availability-97cb1fec4856.herokuapp.com/index"
    }) }}

  </div>

  
</div>
  
  <table class="govuk-table">
    <!-- <caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption> -->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class">Version</th>
        <th scope="col" class="govuk-table__header app-custom-class">Date added</th>
        <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Change log</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row"></tr>
        <th scope="row" class="govuk-table__header" >v1 <br>(continuation <br>from RB v6)</th>
        <td class="govuk-table__cell">July 2024</td>
        <td class="govuk-table__cell">
          <!-- <ul class="govuk-list govuk-list--bullet">
            <li></li>
            <li></li>
            <li></li>
          </ul> -->

          <details class="govuk-details" >
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                User journeys
              </span>
            </summary>
            <div class="govuk-details__text">
              <!-- <p>Book an appointment (HAS):</p> -->
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/v1-rb/has/availability-management/manage-select">Manage availability - HAS</a></li>
                <li><a href="/v1-rb/vs/availability-management/manage-select">Manage availability - Visiting Services</a></li>
                <li><a href="/v1-rb/afn/availability-management/manage-select">Manage availability - Apply for NINo</a></li>
              </ul>
            </div>
          </details>

          <!-- <details class="govuk-details" open>
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Individual screens
              </span>
            </summary>
            <div class="govuk-details__text">
              <p></p>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/"> </a></li>
                <li><a href="/"> </a></li>
                <li><a href="/"> </a></li>
                <li><a href="/"> </a></li>
              </ul>
            </div>
          </details> -->

      </tr>

      <tr class="govuk-table__row"></tr>
        <th scope="row" class="govuk-table__header" >v2 <br>work in progress</th>
        <td class="govuk-table__cell">August 2024</td>
        <td class="govuk-table__cell">

          <details class="govuk-details" open>
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                User journeys
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/v2-rb/has/availability-management/select-location">Manage availability - HAS</a></li>
                <!-- <li><a href="/v2-rb/vs/availability-management/manage-select">Manage availability - Visiting Services</a></li>
                <li><a href="/v2-rb/afn/availability-management/manage-select">Manage availability - Apply for NINo</a></li> -->
              </ul>
            </div>
          </details>
      </tr>


    </tbody>
  </table>






{% endblock %}

