{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .govuk-details {
    margin-bottom: 10px;
  }
</style>

  <span class="govuk-caption-xl">Team Hawk</span>
  <h1 class="govuk-heading-l">DWP Appointments</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s">Vision</h2>
    <p>A DWP standardised, reusable and scalable multi-service component which simplifies and automates the process of booking an appointment between a citizen and a relevant DWP agent.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <!-- <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/133364220283/Interaction+and+Content+Design-+DWP+Appointment" target="_blank">Interaction and content design log</a>
      </li>
      <li>
        <a class="govuk-link" href="#">UR reports</a>
      </li>
      <li>
        <a class="govuk-link" href="#"></a>
      </li>
      <li>
        <a class="govuk-link" href="#"></a>
      </li>
    </ul> -->
  </div>
</div>

<br><br>

<table class="govuk-table">
  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Version</th>
      <th scope="col" class="govuk-table__header app-custom-class">Date added</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Change log</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">v8</th>
      <td class="govuk-table__cell">May 2024</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Manual allocation - added the ability to manually select an appointment owner (HAS)</li>
          <!-- <li>Added the ability to amend a booking (HAS)</li> -->
        </ul>

        <details class="govuk-details" open>
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              User journeys
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v8/has/book-appt/has-appointment-details">Book an appointment - HAS</a></li>
            </ul>
          </div>
        </details>

        <details class="govuk-details" open>
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              All screens
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Book an appointment (HAS):</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v8/has/book-appt/has-appointment-details"> Appointment details - type/channel</a></li>
              <li><a href="/v8/has/book-appt/has-cal"> Appointments available</a></li>
              <li><a href="/v8/has/book-appt/has-check-answers"> Check appointment details</a></li>
              <li><a href="/v8/has/book-appt/appt-owners"> Select an HCP</a></li>
              <li><a href="/v8/has/book-appt/has-confirmation"> Appointment booked - confirmation</a></li>
            </ul>
          </div>
        </details>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">v7</th>
      <td class="govuk-table__cell">April 2024</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Changes to 'Booked appointments' screen, filter options moved to seperate screen</li>
          <li>Added ability to cancel one or multiple appointments</li>
          <li>Added versions of the 'View/Cancel' user journey for HAS, Apply for NINO and Visiting Services</li>
          <li>Added 'Book an appointment' journey for Visiting Services</li>
        </ul>

        <details class="govuk-details" open>
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              User journeys
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v7/vs/appointment-details-vs">Book an appointment - VS</a></li>
              <li><a href="/v7/vs-cancel/booked-location1"> View / cancel booked appointments - VS</a></li>
              <li><a href="/v7/has/booked-location1"> View / cancel booked appointments - HAS</a></li>
              <li><a href="/v7/afn/booked-location1"> View / cancel booked appointments - AfN</a></li>
            </ul>
          </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              All screens
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Book an appointment (VS):</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v7/vs/appointment-details-vs"> Appointment details - type/channel</a></li>
              <li><a href="/v7/vs/cal-vs"> Appointments available</a></li>
              <li><a href="/v7/vs/check-answers-vs"> Check appointment details</a></li>
              <li><a href="/v7/vs/confirmation-v2"> Appointment booked - confirmation</a></li>
            </ul>
            <p>View / cancel booked appointments (VS):</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v7/vs-cancel/booked-location1"> Choose a location</a></li>
              <li><a href="/v7/vs-cancel/booked-app-list1"> Booked appointments</a></li>
              <li><a href="/v7/vs-cancel/filter-options"> Filter appointments</a></li>
              <li><a href="/v7/vs-cancel/view-appointment"> Appointment details - one appointment</a></li>
              <li><a href="/v7/vs-cancel/confirm-cancel"> Appointment deatils - cancel one appointment</a></li>
              <li><a href="/v7/vs-cancel/cancel-selected"> Appointment details - multiple appointments</a></li>
              <li><a href="/v7/vs-cancel/booked-app-list2"> Booked appointments - apppointment cancelled</a></li>
              <li><a href="/v7/vs-cancel/booked-app-list3"> Booked appointments - version with status</a></li>
            </ul>
            <p>View / cancel booked appointments (HAS):</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v7/has/booked-location1"> Choose a location</a></li>
              <li><a href="/v7/has/booked-app-list1"> Booked appointments</a></li>
              <li><a href="/v7/has/filter-options"> Filter appointments</a></li>
              <li><a href="/v7/has/view-appointment"> Appointment details - one appointment</a></li>
              <li><a href="/v7/has/confirm-cancel"> Appointment deatils - cancel one appointment</a></li>
              <li><a href="/v7/has/cancel-selected"> Appointment details - multiple appointments</a></li>
              <li><a href="/v7/has/booked-app-list2"> Booked appointments - apppointment cancelled</a></li>
              <li><a href="/v7/has/booked-app-list3"> Booked appointments - version with status</a></li>
            </ul>
            <p>View / cancel booked appointments (AfN):</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v7/afn/booked-location1"> Choose a location</a></li>
              <li><a href="/v7/afn/booked-app-list1"> Booked appointments</a></li>
              <li><a href="/v7/afn/filter-options"> Filter appointments</a></li>
              <li><a href="/v7/afn/view-appointment"> Appointment details - one appointment</a></li>
              <li><a href="/v7/afn/confirm-cancel"> Appointment deatils - cancel one appointment</a></li>
              <li><a href="/v7/afn/cancel-selected"> Appointment details - multiple appointments</a></li>
              <li><a href="/v7/afn/booked-app-list2"> Booked appointments - apppointment cancelled</a></li>
              <li><a href="/v7/afn/booked-app-list3"> Booked appointments - version with status</a></li>
            </ul>
            
          </div>
        </details>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" >v6 HAS</th>
      <td class="govuk-table__cell">March 2024</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Book an appointment journey for Health Assessment Services (HAS)</li>
        </ul>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              User journeys
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v6/has-appointment-details">Book an appointment</a></li>
              <!-- <li><a href="/april-sprint/booked-app-location"> View booked appointments / cancel an appointment</a></li> -->
            </ul>
          </div>
        </details>

        <details class="govuk-details" >
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              All screens
            </span>
          </summary>
          <div class="govuk-details__text">
            <!-- <p>Book an appointment (HAS):</p> -->
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v6/has-appointment-details"> Appointment details - type/channel</a></li>
              <li><a href="/v6/has-cal"> Appointments available</a></li>
              <li><a href="/v6/has-check-answers"> Check appointment details</a></li>
              <li><a href="/v6/has-confirmation"> Appointment booked - confirmation</a></li>
            </ul>
          </div>
        </details>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">v5</th>
      <td class="govuk-table__cell">March 2024</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Book an appointment for Visiting Services</li>
        </ul>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              User journeys
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v5/appointment-details-vs.html"> Book an appointment - Visiting Services user testing</a></li>
            </ul>
          </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              All screens
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Visiting Services:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v5/appointment-details-vs">VS - Appointment details</a></li>
              <li><a href="/v5/cal-vs">VS - Appointments available</a></li>
              <li><a href="/v5/check-answers-vs">VS - Check details</a></li>
              <li><a href="/v5/confirmation-v2">VS - Appointment booked</a></li>
            </ul>
            <p>Other:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v5/booked-app-location.html">Booked appointments location (HAS)</a></li>
              <li><a href="/v5/booked-app-list1.html">Booked appointments list view (HAS)</a></li>
              <li><a href="/v5/error-no-agent-skill-match.html">422 Error - no available agent matching skill set</a></li>
              <li><a href="/v5/error-no-availability-diary.html">Error - no available slots</a></li>
            </ul>
          </div>
        </details>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">v4</th>
      <td class="govuk-table__cell">February 2024</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>View appointments</li>
        </ul>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              User journeys
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v4/booked-location1.html">View appointments</a></li>
            </ul>
          </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              All screens
            </span>
          </summary>
          <div class="govuk-details__text">
            <!-- <p>:</p> -->
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v4/booked-location1.html">Booked appointments - location</a></li>
              <li><a href="/v4/booked-app-list.html">Booked appointments - list</a></li>
              <li><a href="/v4/error-appointment-details.html">Error - Appointment details</a></li>
              <li><a href="/v4/error-date-time-no-agent.html">Error - Calendar (no agent available)</a></li>
              <li><a href="/v4/erro-date-time-no-availability.html">Error - Calendar (no slots available)</a></li>
            </ul>
          </div>
        </details>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">v3</th>
      <td class="govuk-table__cell">January 2024</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Book an appointment for Job Seeker's Allowance</li>
        </ul>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              User journeys
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v3/appointment-details.html">JSA user testing</a></li>
            </ul>
          </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              All screens
            </span>
          </summary>
          <div class="govuk-details__text">
            <!-- <p>:</p> -->
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v3/appointment-details">JSA - Appointment details</a></li>
              <li><a href="/v3/cal">JSA - Appointments available</a></li>
              <li><a href="/v3/check-answers">JSA - Check details</a></li>
              <li><a href="/v3/confirmation">JSA - Appointment booked</a></li>
              <li><a href="/v3/404.html">404 error</a></li>
              <li><a href="/v3/500.html">500 error</a></li>
            </ul>
          </div>
        </details>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">v2</th>
      <td class="govuk-table__cell">December 2023</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Book an appointment for Apply for NINO</li>
        </ul>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              User journeys
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v2/appointment-details-nino">AfN user testing</a></li>
            </ul>
          </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              All screens
            </span>
          </summary>
          <div class="govuk-details__text">
            <!-- <p>:</p> -->
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v2/appointment-details-nino"> AfN - Appointment details</a></li>
              <li><a href="/v2/calendar-nino">AfN - Appointments available</a></li>
              <li><a href="/v2/check-answers-nino">AfN - Check appointment details</a></li>
              <li><a href="/v2/confirmation-nino">AfN - Appointment booked</a></li>
            </ul>
          </div>
        </details>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">v1</th>
      <td class="govuk-table__cell">November 2023</td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--bullet">
          <li>Book an appointment</li>
        </ul>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              User journeys
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v1/appointment-details">Book an appointment</a></li>
            </ul>
          </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              All screens
            </span>
          </summary>
          <div class="govuk-details__text">
            <!-- <p>:</p> -->
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/v1/appointment-details">Appointment details</a></li>
              <li><a href="/v1/calendar">Appointments available</a></li>
              <li><a href="/v1/check-answers">Check appointment details</a></li>
              <li><a href="/v1/confirmation">Appointment booked</a></li>
            </ul>
          </div>
        </details>
      </td>
    </tr>


  </tbody>
</table>






<!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->


<!-- <h1 class="govuk-heading-l">Old layout</h1>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
 
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
           HAS
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <a href="HAS-book-app/has-appointment-details.html">Iteration 1 design</a>
      </div>
    </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          November 
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <a href="November-sprint/appointment-details.html">Iteration 1 design</a>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          December 
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <a href="december-sprint/appointment-details-nino.html">Nino user testing</a>
    </div>
  </div>
 
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          January 
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <a href="january-sprint/appointment-details.html">JSA user testing</a>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <a href="january-sprint/404.html">404</a>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <a href="january-sprint/500.html">500</a>
    </div>
  </div>
 
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          February 
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <a href="february-sprint/error-appointment-details.html">Appointment details error page</a>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <a href="february-sprint/error-date-time-no-agent.html">Calendar error page - no agent</a>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <a href="february-sprint/erro-date-time-no-availability.html">Calendar error page - no availability</a>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <a href="february-sprint/booked-location1.html">Booked appointments - Location</a>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <a href="february-sprint/booked-app-list.html">Booked appointments list</a>
    </div>
  </div>
 
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          March 
        </span>
      </h2>
    </div>

    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <ul class="govuk-list">
        <li>
          <p><a href="march-sprint/appointment-details-vs.html">Visiting services user testing</a></p>
        </li>
        <li>
          <p><a href="march-sprint/error-no-agent-skill-match.html">422 Error no available agent matching skill set</a></p>
        </li>
        <li>
          <p><a href="march-sprint/error-no-availability-diary.html">Error no available slots in</a></p>
        </li>
        <li>
          <p><a href="march-sprint/booked-app-location.html">Booked appointments location (HAS)</a></p>
        </li>
        <li>
          <p><a href="march-sprint/booked-app-list1.html">Booked appointments list view (HAS)</a></p>
        </li>
        <li>
          <p><a href="march-sprint/demo.html">Sina's demo</a></p>
        </li>
      </ul>
    </div>

  </div> -->

  <!-- <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          April 
        </span>
      </h2>
    </div>

    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <ul class="govuk-list">

        <li>
          <p><a href="april-sprint/booked-app-location.html">Booked appointments - location (HAS)</a></p>
        </li>
        <li>
          <p><a href="april-sprint/booked-app-list1.html">Booked appointments - list view (HAS), iteration 2</a></p>
        </li>
        <li>
          <p><a href="april-sprint/demo.html">Sina's demo</a></p>
        </li>
      </ul>
    </div>

  </div> -->


{% endblock %}

