{% extends "layouts/main.html" %}
{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class="govuk-width-container ">
  <a href="../index.html" class="govuk-header__link govuk-header__service-name dwp-header__container--service-name">
     ARA Appointments
  </a>
  </div>
  </header>
{% endblock %}
{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<style media="screen">
    .autocomplete__input {
      width: 50%;
    }
   
   
   
  .autocomplete__menu{
      width: 50%
  }
   
  </style>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Choose a location
      </h1>
      <form action="../february-sprint/booked-app-list" method="post" novalidate>
        <div class="govuk-form-group">
                
            <select class="govuk-select" id="country" name="country" data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
              <option value="" selected disabled>Select an option</option>
              <option value="Bath">Bath</option>
              <option value="Birmingham">Birmingham</option>
              <option value="Bradford">Bradford</option>
              <option value="Brighton & Hove">Brighton & Hove</option>
              <option value="Bristol">Bristol</option>
              <option value="Cambridge">Cambridge</option>
              <option value="Canterbury">Canterbury</option>
              <option value="Carlisle">Carlisle</option>
              <option value="Chelmsford">Chelmsford</option>
              <option value="Chester">Chester</option>
              <option value="Chichester">Chichester</option>
              <option value="Colchester">Colchester</option>
              <option value="Coventry">Coventry</option>
              <option value="Derby">Derby</option>
              <option value="Doncaster">Doncaster</option>
              <option value="Durham">Durham</option>
              <option value="Ely">Ely</option>
              <option value="Exeter">Exeter</option>
              <option value="Gloucester">Gloucester</option>
              <option value="Hereford">Hereford</option>
              <option value="Kingston-upon-Hul">Kingston-upon-Hul</option>
              <option value="Lancaster">Lancaster</option>
              <option value="Leeds">Leeds</option>
              <option value="Leicester">Leicester</option>
              <option value="Lichfield">Lichfield</option>
              <option value="Lincoln">Lincoln</option>
              <option value="Liverpool">Liverpool</option>
            </select>
          </div>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        
          <a class="govuk-link" href="#">Cancel</a>
        </div>

       

      </form>

    </div>
  </div>
{% endblock %}
