{% extends "layouts/main.html" %}
{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class="govuk-width-container ">
  <a href="../index.html" class="govuk-header__link govuk-header__service-name dwp-header__container--service-name">
     ARA Appointments
  </a>
  </div>
  </header>
{% endblock %}
{% block pageTitle %}
Page not found – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
        <div class="govuk-width-container">
            <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <h1 class="govuk-heading-l">Sorry, there is a problem.</h1>
                  <p class="govuk-body">
                    There is no one available to do this appointment. 
                  </p>
                  <p class="govuk-body">
                    Please contact your manager to report the problem. 
                  </p>
                  
                </div>
              </div>
            </main>
          </div>

{% endblock %}
